/* reset for default browser margin and padding style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* uniform style for div, p, and h1*/

div, p, h1 {
   color: white;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
}
/* h1 uniform style*/
h1{
    font-size: 2rem;
}
/* p uniform style*/
p{
    font-size: 0.8rem;
    line-height: 1.5rem;
}

/* container that contain dog image and it caption and name */
.container{
    width: 30%;
    height: 550px;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 5px 1px 10px  rgb(189, 208, 179);
    position: inherit;
    border-bottom: 4px solid black;
    background-image: url(./back\ ground.webp);
}
/* the wrapper of h1*/
h1{
color: white;
text-align: center;
padding: 10px;
}
/* round container of the dog image*/
.animal-potrait-container{
    width: 300px;
    height: auto;
    border-radius: 100%;
    margin: 2rem auto;
    box-shadow: 1px 1px 10px rgb(107, 107, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* dog image*/
img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
/* article text wrapper*/
.article{
    width: 90%;
    color: white;
    margin: 0  auto;
    text-align: left;
}


/*  for responsive to all screen size*/
@media screen and (max-width: 1000px) {
.container{
    width: 100%;
    height: auto;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 5px 1px 10px  rgb(189, 208, 179);
    position: inherit;
    border-bottom: 4px solid black;
    background-image: url(./back\ ground.webp);
}

}